@font-face {
  font-family: "MagistralBold";
  src: url("../fonts/Magistral/MGBOLD.TTF");
}
.dflex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.dflex-column {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
body,
html {
  background-image: url('../img/main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  -ms-background-position-y: -100px;
  background-position-y: -100px;
  height: 100%;
  color: #f4f4f4;
  font-family: "Roboto Condensed", Arial, sans-serif;
  min-width: 700px;
}
h1 {
  font-size: 20px;
}
a:hover {
  color: #e3e3e3;
}
.block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.container {
  text-align: center;
  margin: 0 auto;
  width: 1440px;
}
.containerRegistration {
  width: 100%;
  padding: 0;
}
.top {
  flex: 1;
}
.topRegistration {
  height: 100%;
}
header {
  background: #242424;
  min-width: 550px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .headerUp {
  padding: 15px 50px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  background: #575757;
  background: -moz-linear-gradient(top, #575757 0%, #242424 100%);
  background: -webkit-linear-gradient(top, #575757 0%, #242424 100%);
  background: linear-gradient(to bottom, #575757 0%, #242424 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#242424', GradientType=0);
  position: relative;
}
header .headerUp .box1 {
  margin-top: 10px;
}
header .headerUp .box2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: absolute;
  top: 15%;
  left: 48%;
}
header .headerUp .box2 img {
  margin-left: -60px;
  height: 40px;
}
header .headerUp .box2 p {
  margin-left: 10px;
  font-family: "MagistralBold", Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
}
header .headerUp .box2:hover,
header .headerUp .box2:active,
header .headerUp .box2:focus {
  text-decoration: none;
  color: #f4f4f4;
}
header .headerUp .box3 {
  margin-top: 10px;
}
header .headerUp .box3 span {
  font-size: 16px;
  margin-left: 10px;
}
header .headerUp .box3 img {
  margin-top: -7px;
  height: 35px;
  color: #176c00;
}
header nav {
  background: #242424;
  background: -moz-linear-gradient(top, #242424 0%, #363535 50%, #232323 100%);
  background: -webkit-linear-gradient(top, #242424 0%, #363535 50%, #232323 100%);
  background: linear-gradient(to bottom, #242424 0%, #363535 50%, #232323 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#232323', GradientType=0);
  padding: 0 130px;
}
header nav ul {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
header nav ul li {
  padding: 5px 0;
}
header nav ul li i {
  margin-left: 5px;
}
header nav ul .nav-catalog {
  position: relative;
}
header nav ul .subdir {
  width: 300px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: -12px;
  top: 29px;
  display: none;
  text-align: left;
  opacity: 0.88;
  border-top: none;
  -webkit-box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.75);
}
header nav ul .subdir li {
  padding: 3px 13px;
}
header nav ul .nav-catalog:hover .subdir {
  display: inline-block;
  background-color: #232323;
}
header a {
  color: #f4f4f4;
  font-weight: bold;
}
header a:hover {
  text-decoration: none;
  color: #c3c3c3;
  transition: 0.1s;
}
header a:focus {
  text-decoration: none;
  color: #cecece;
  transition: 0.1s;
}
header a:active {
  text-decoration: none;
  color: #999;
  transition: 0.1s;
}
main {
  padding-top: 83px;
}
.boxRegistration {
  width: 100%;
  height: 100%;
  background-color: #242424;
  opacity: 0.88;
}
.formRegistration {
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  width: 500px;
  height: 500px;
}
footer {
  height: 50px;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  background: #242424;
  background: -moz-linear-gradient(top, #242424 0%, #363535 50%, #1e1e1e 100%);
  background: -webkit-linear-gradient(top, #242424 0%, #363535 50%, #1e1e1e 100%);
  background: linear-gradient(to bottom, #242424 0%, #363535 50%, #1e1e1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#1e1e1e', GradientType=0);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
}
footer .copyr {
  font-size: 12px;
  color: #989898;
  margin: 10px auto;
}
footer .social {
  position: absolute;
  top: 12px;
  right: 20%;
}
footer .social a {
  color: #f4f4f4;
  font-weight: bold;
}
footer .social a:hover,
footer .social a:active,
footer .social a:focus {
  text-decoration: none;
  color: #f4f4f4;
}
footer .social .vk {
  padding: 0 10px;
}
footer .social .vk:hover {
  color: #5aa3ed;
  color: -moz-linear-gradient(45deg, #5aa3ed 0%, #0079ea 100%);
  color: -webkit-linear-gradient(45deg, #5aa3ed 0%, #0079ea 100%);
  color: linear-gradient(45deg, #5aa3ed 0%, #0079ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5aa3ed', endColorstr='#0079ea', GradientType=1);
  transition: 0.1s;
}
footer .social .vk:focus {
  color: #2787e8;
  color: -moz-linear-gradient(45deg, #2787e8 0%, #0049c9 100%);
  color: -webkit-linear-gradient(45deg, #2787e8 0%, #0049c9 100%);
  color: linear-gradient(45deg, #2787e8 0%, #0049c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2787e8', endColorstr='#0049c9', GradientType=1);
  transition: 0.1s;
}
footer .social .vk:active {
  color: #2787e8;
  color: -moz-linear-gradient(45deg, #2787e8 0%, #0049c9 100%);
  color: -webkit-linear-gradient(45deg, #2787e8 0%, #0049c9 100%);
  color: linear-gradient(45deg, #2787e8 0%, #0049c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2787e8', endColorstr='#0049c9', GradientType=1);
  transition: 0.1s;
}
footer .social .inst {
  padding: 0 10px;
}
footer .social .inst:hover {
  color: #DF4966;
  color: -moz-linear-gradient(45deg, #f9bf26 4%, #f9bf26 4%, #df4238 35%, #a144a1 67%, #4845a2 96%);
  color: -webkit-linear-gradient(45deg, #f9bf26 4%, #f9bf26 4%, #df4238 35%, #a144a1 67%, #4845a2 96%);
  color: linear-gradient(45deg, #f9bf26 4%, #f9bf26 4%, #df4238 35%, #a144a1 67%, #4845a2 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9bf26', endColorstr='#4845a2', GradientType=1);
  transition: 0.1s;
}
footer .social .inst:focus {
  color: #c1324e;
  color: -moz-linear-gradient(45deg, #f7b50e 4%, #dd2218 35%, #a016a0 67%, #201ea0 96%);
  color: -webkit-linear-gradient(45deg, #f7b50e 4%, #dd2218 35%, #a016a0 67%, #201ea0 96%);
  color: linear-gradient(45deg, #f7b50e 4%, #dd2218 35%, #a016a0 67%, #201ea0 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7b50e', endColorstr='#201ea0', GradientType=1);
  transition: 0.1s;
}
footer .social .inst:active {
  color: #911b32;
  color: -moz-linear-gradient(45deg, #ea8e0e 4%, #c41515 35%, #831389 67%, #17217a 96%);
  color: -webkit-linear-gradient(45deg, #ea8e0e 4%, #c41515 35%, #831389 67%, #17217a 96%);
  color: linear-gradient(45deg, #ea8e0e 4%, #c41515 35%, #831389 67%, #17217a 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea8e0e', endColorstr='#17217a', GradientType=1);
  transition: 0.1s;
}
