@bodyColor: #0a0809;
@contWidth: 1400px;
@fontColor: #f6f6f6;

.dflex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.dflex-column {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.dflex-jcsb {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

body {
	background-color: @bodyColor;
	color: @fontColor;
	height: 100%;		
}

a:hover {
	color: #e3e3e3;
}

.container {
	text-align: center;
	margin: 0 auto;
	width: @contWidth;
	.dflex-column;
	min-height: 100%;
}

.top {
	flex: 1;
}

header {
	padding-top: 10px;
	.headerUp {
		.dflex-jcsb;
		.box2 {
			.dflex;
			img {
				height: 40px;
			}
		}
	}

	nav ul {
		padding: 0;
		list-style-type: none;
		.dflex;
		justify-content: space-around;
		ul {
			display: none;
			
		}

		li {
			padding: 5px 0 5px 0;

			&:hover {
				
				border-bottom: 1px solid #f6f6f6;
			}
		}	
	}

	.nav_catalog:hover {
		
	}

	a {
		color: @fontColor;
		font-weight: bold;

		&:hover {
		text-decoration: none;
		color: #b0b0b0;
		}
	}
}

main {
	.imgMain {
		width: 100%;
		margin: 0 auto;
	}
}