.dflex-column {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.dflex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
body,
html {
  background-color: #0a0809;
  height: 100%;
  color: #f6f6f6;
}
.container {
  text-align: center;
  margin: 0 auto;
  width: 1400px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.top {
  flex: 1;
}
header {
  padding-top: 10px;
}
header .headerUp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
header .headerUp .box2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
header .headerUp .box2 img {
  height: 40px;
}
header nav {
  border-top: 1px solid blue;
}
header nav ul {
  padding: 0;
  margin: 10px 0 0;
  list-style-type: none;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
header nav ul .subdir {
  padding: 0;
  margin: 0;
  position: absolute;
  display: none;
}
header nav ul .subdir li a {
  text-align: left;
}
header nav ul .nav_catalog:hover .subdir {
  display: inline-block;
  background-color: #0a0809;
}
header a {
  color: #f6f6f6;
  font-weight: bold;
}
header a:hover {
  text-decoration: none;
  color: #b0b0b0;
}
main .imgMain {
  width: 100%;
  margin: 0 auto;
}
footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 auto;
}
