@font-face {
  font-family: "MagistralBold";
  src: url("../fonts/Magistral/MGBOLD.TTF");
}
.dflex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.dflex-column {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.dflex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
body,
html {
  background-color: #080808;
  height: 100%;
  color: #ededed;
  font-family: 'Fira Sans', sans-serif;
}
a:hover {
  color: #e3e3e3;
}
.block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.container {
  text-align: center;
  margin: 0 auto;
  width: 1440px;
}
.top {
  flex: 1;
}
header {
  background-color: #292929;
  min-width: 550px;
}
header .headerUp {
  padding: 10px 50px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  background-color: #191919;
}
header .headerUp .box2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
header .headerUp .box2 img {
  margin-left: -70PX;
  height: 40px;
}
header .headerUp .box2 p {
  margin-left: 10px;
  font-family: "MagistralBold";
  font-weight: bold;
  font-size: 28px;
}
header nav ul {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
}
header nav ul li {
  padding: 5px 20px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
header nav ul .subdir {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 80px;
  top: 40px;
  display: none;
  text-align: left;
  border: 1px solid #43434a;
  border-top: none;
}
header nav ul .subdir li {
  padding: 3px 13px;
}
header nav ul .nav_catalog:hover .subdir {
  display: inline-block;
  background-color: #080808;
}
header a {
  color: #ededed;
  font-weight: bold;
}
header a:hover {
  text-decoration: none;
  color: #c3c3c3;
}
header a:focus {
  text-decoration: none;
  color: #989898;
}
main {
  padding-top: 30px;
}
main .titleMain img {
  margin: 0 auto;
}
footer {
  height: 50px;
  background-color: #2b2b2b;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
footer .copyr {
  font-size: 12px;
  color: #989898;
  margin: 0 auto;
}
