<div class="headerUp">
	<div class="box1">
		<a href="#">Вход</a>
		|
		<a href="../user-registration.php">Регистрация</a>
	</div>
	<a href="index.php" class="box2">
		<img src="img/logo.png" alt="logo">
		<p>AudioCar</p>
	</a>
	<div class="box3">
		<a href="#">Гость</a>
		|
		<a href="#">Корзина</a>
		<a href="#"><img src="img/e-commerce.png" alt="Корзина"></a>
		<span>0</span>  <i class="fa fa-rub" aria-hidden="true"></i>
	</div>
</div>
<nav>
	<ul>
		<li class="nav-catalog">
		<a href="#">КАТАЛОГ 
			<i class="fa fa-caret-down" aria-hidden="true"></i>
		</a>
			<ul class="subdir">
				<li><a href="#">Усилители</a></li>
				<li><a href="#">Эстрада</a></li>
				<li><a href="#">Субвуферы</a></li>
				<li><a href="#">Коаксиальная акустика</a></li>
				<li><a href="#">Усилители</a></li>
				<li><a href="#">Эстрада</a></li>
				<li><a href="#">Субвуферы</a></li>
				<li><a href="#">Коаксиальная акустика</a></li>
				<li><a href="#">Усилители</a></li>
				<li><a href="#">Эстрада</a></li>
				<li><a href="#">Субвуферы</a></li>
				<li><a href="#">Коаксиальная акустика</a></li>
			</ul>
		</li>
		<li><a href="#">КОНТАКТЫ</a></li>
		<li><a href="#">НАШИ РАБОТЫ</a></li>
		<li><a href="#">О НАС</a></li>
		<li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
	</ul>
</nav>